body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

.fatherSection {
    width: 60vw;
    margin: 0 auto;
    padding: 0px;
    box-shadow: 1px 0px 20px;
}

/* Global */

h1 {
    font-size: 40px;
    margin: 20px;
}

/* Navbar */

.sechead {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    color: white;
    font-size: 15px;
}

#logoHomepage img {
    height: 35px;
}

.navBar {
    display: flex;
    justify-content: flex-end;
    text-align: center;
}

.divNav {
    width: 75px;
}

.divNav img {
    width: 50px;
}

.navBar p {
    margin: 0;
    font-size: 10px;
}

/* Main */

/* Section 1 */

.main1 {
    background-color: #334d5c;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    height: 30vh;
}

.main1 img {
    height: 130px;
}

.main1 div p {
    font-size: 25px;
    margin: 20px;
}

/* Section 2 */

.main2{
    display: flex;
    height: 300px;
}

.main2 .imgpar {
    position: relative;
    width: 300px;
    height: 300px;
}

.main2 img {
    height: 175px;
    position: absolute;
    bottom: 5%;
    margin-left: 40px;
}

.mainEclo {
    /* margin: 10px; */
    width: 60%; 
}

.mainEclo h1 {
    color: white;
    background-color :#334d5c;
    width: fit-content;
    height: fit-content;
    padding: 5px 60px;
}

.mainEclo .divp {
    padding: 0 50px;
    padding-top: 10px;
}

/* Section 3 */

.main3 {
    display: flex;
    justify-content: space-around;
    background-color: #eae3d6;
    padding: 30px 80px;
}

.main3 div {
    display: flex;
    flex-direction: column;   
    text-align: center;
    width: fit-content;
}

.main3 div img {
    width: 60px;
    margin: 0 auto;
}

/* Section 4 */

.main4{
    display: flex;
    height: 300px;
}

.main4 .imgpar4 {
    position: relative;
    width: 300px;
    height: 300px;
}

.main4 img {
    height: 175px;
    position: absolute;
    bottom: 5%;
    margin-left: 40px;
}

.mainEclo4 {
    /* margin: 10px; */
    width: 60%; 
}

.mainEclo4 h1 {
    color: white;
    background-color :#334d5c;
    width: fit-content;
    height: fit-content;
    padding: 5px 60px;
}

.mainEclo4 .divp4 {
    padding: 0 50px;
    padding-top: 10px;
}

/* Section 5 */

.main5 {
    display: flex;
    justify-content: space-around;
    background-color: #eae3d6;
    padding: 30px 80px;
    flex-flow: row wrap;
    /* height: 400px; */
}

.main5 div {
    display: flex;
    flex-direction: column;   
    text-align: center;
    width: fit-content;
}

.main5 div img {
    width: 60px;
    margin: 0 auto;
}

/* .main5 div:last-of-type {
    flex-flow: wrap;
    /* align-self: flex-end; */
    justify-content: center;
} */

/* Section 6 */

.main6{
    display: flex;
    height: 300px;
}

.main6 .imgpar6 {
    position: relative;
    width: 300px;
    height: 300px;
}

.main6 img {
    height: 175px;
    position: absolute;
    bottom: 5%;
    margin-left: 40px;
}

.mainEclo6 {
    /* margin: 10px; */
    width: 60%; 
}

.mainEclo6 h1 {
    color: white;
    background-color :#334d5c;
    width: fit-content;
    height: fit-content;
    padding: 5px 60px;
}

.mainEclo6 .divp6 {
    padding: 0 50px;
    padding-top: 10px;
}

/* Section 7 */

.main7 {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    background-color: #eae3d6;
    padding: 30px 80px;
}

.main7 div {
    display: flex;
    flex-direction: column;   
    text-align: center;
    width: fit-content;
}

.main7 div img {
    width: 60px;
    margin: 0 auto;
}

/* Footer */

.footer {
    background-color: #393a3b;
}

.footer div {
    padding: 50px;
}

h4 {
    color: white;
    font-weight: bold;
}

.footer img {
    width: 45px;
}